security:
  password_hashers:
    App\Entity\User: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      entry_point: App\Security\AppAuthenticator
      custom_authenticator: App\Security\AppAuthenticator

      logout:
        path: app_logout
        target: app_login

  access_control:
    - { path: ^/dashboard/admin, roles: ROLE_ADMIN }
    - { path: ^/dashboard/valorisateur, roles: ROLE_VALORIZER }
    - { path: ^/dashboard, roles: ROLE_USER }
    - { path: ^/dashboard/valorisateur/historique, roles: ROLE_VALORIZER }
